<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright 2013 Palantir Technologies, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<plugin>
   <extension
         id="lessBuilder"
         name="LESS Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.palantir.less.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="lessNature"
         name="LESS Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.palantir.less.ProjectNature">
         </run>
      </runtime>
      <builder
            id="com.palantir.less.lessBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     <category
            id="com.palantir.less.lessNature.category"
            name="%command.category">
      </category>
      <command
            id="com.palantir.less.toggleNature"
            categoryId="com.palantir.less.lessNature.category"
            defaultHandler="com.palantir.less.ToggleNatureHandler"
            name="%command.toggleNature.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.palantir.less.toggleNature"
               label="Disable LESS Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                         <and>
                            <instanceof
                                  value="org.eclipse.core.resources.IProject">
                            </instanceof>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.palantir.less.lessNature">
                            </test>
                         </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.palantir.less.toggleNature"
               label="Enable LESS Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.palantir.less.lessNature">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
